<ion-content no-padding>
    <ion-grid>
        <ion-row swipeAll (swipedown)="closeFab('01')" class="ion-row-top">
            <ion-col>
                <div text-center>
                    <img src="/assets/imgs/and/btn_tab_{{btn_tab_1}}.png" width="40px;" (click)="changeFab('01')" />
                </div>
                <div text-center>
                    추천 매장
                </div>
            </ion-col>
            <ion-col>
                <div text-center>
                    <img src="/assets/imgs/and/btn_tab_{{btn_tab_2}}.png" width="40px;" (click)="changeFab('02')" />
                </div>
                <div text-center>
                    자주가는 매장
                </div>
            </ion-col>
            <ion-col>
                <div text-center>
                    <img src="/assets/imgs/and/btn_tab_{{btn_tab_3}}.png" width="40px;" (click)="changeFab('03')" />
                </div>
                <div text-center>
                    주변 매장
                </div>
            </ion-col>
            <ion-col>
                <div text-center>
                    <img src="/assets/imgs/and/btn_tab_{{btn_tab_4}}.png" width="40px;" (click)="changeFab('04')" />
                </div>
                <div text-center>
                    이벤트
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="select-div">
        <ion-list>
            <ion-row>
                <ion-col>
                    <ion-item><ion-label>{{title}}</ion-label></ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <button ion-button style="background-color: white;"><img src="/assets/imgs/and/btn_location_d.png" width="50%" height="50%" /></button>
                        <button ion-button style="background-color: white; color: black;"><img src="/assets/imgs/and/icon_filter_n.png" width="50%"/> 필터</button>
                    </ion-item>
                </ion-col>
            </ion-row>
                <!-- <ion-select [(ngModel)]="term" interface="popover" color="primary" (ionChange)="onChange($event)" >
                <ion-option value="1" [selected]="'1' === seletedMonth">(주)비알파크</ion-option>
                <ion-option value="3" [selected]="'3' === seletedMonth">3개월</ion-option>
                </ion-select> -->
        </ion-list>
    </div>

    <ul>
        <li *ngFor="let item of item_list; let last = last;" value="item">
            <ngx-flip [flip]="item.flip">
                <div front (click)="changeFlip(item)" class="front-list">
                    <div class="front-list-img"><img src="/assets/imgs/and/img_no_img_b.png" width="120px;" /></div>
                    <div class="front-list-title">{{item.SHOP_NM}}</div>
                    <div class="front-list-detail">{{item.SHOP_NOTICE_TITLE}}</div>
                    <div class="front-list-icon">
                        <span *ngIf="item.POINT_YN=='Y'"><img src="/assets/imgs/and/icon_point.png" width="43px;" /></span>
                        <span *ngIf="item.CASH_YN=='Y'"><img src="/assets/imgs/and/icon_cash.png" width="43px;" /></span>
                        <span *ngIf="item.STAMP_YN=='Y'"><img src="/assets/imgs/and/icon_stamp.png" width="43px;" /></span>
                        <span *ngIf="item.EVENT_YN=='Y'"><img src="/assets/imgs/and/icon_event.png" width="43px;" /></span>
                    </div>
                    <div class="front-list-buttom">{{item.SHOP_RECOMMAND_TITLE}}</div>
                </div>
                <div back (click)="changeFlip(item)" class="back-list">
                    <div class="back-list-title">{{item.SHOP_NM}}</div>
                    <div class="back-list-detail">{{item.SHOP_RECOMMAND_TITLE}}</div>
                    <div class="back-list-detail2" *ngIf="item.POINT_YN=='Y'">
                        <div>
                            <img src="/assets/imgs/and/icon_point_blue.png" width="16px;" />
                        </div>
                        <div>
                            {{item.POINT_POLICY}}
                        </div>
                    </div>
                    <div class="back-list-detail2" *ngIf="item.STAMP_YN=='Y'">
                        <div>
                            <img src="/assets/imgs/and/icon_stamp_blue.png" width="16px;" />
                        </div>
                        <div>
                            {{item.STAMP_POLICY}}
                        </div>
                    </div>
                    <div class="back-list-tel">
                        <div>
                            <img src="/assets/imgs/and/icon_tell_flip.png" width="16px;" />
                        </div>
                        <div>
                            {{item.SHOP_PHONE}}
                        </div>
                    </div>
                    <div class="back-list-time">
                        <div>
                            <img src="/assets/imgs/and/icon_time_flip.png" width="16px;" />
                        </div>
                        <div>
                            {{item.SHOP_START_TIME}} - {{item.SHOP_END_TIME}}
                        </div>
                    </div>
                    <div class="back-list-time">
                        <div>
                            <img src="/assets/imgs/and/icon_map_flip.png" width="16px;" />
                        </div>
                        <div>
                                {{item.DISTANCE}} Km 떨어져 있어요
                        </div>
                    </div>
                    <div class="back-list-botton"><button ion-button color="secondary" round (click)="openShopInfo(item.SHOP_CD,item.TRADE_NM)">매장정보 보기</button></div>
                </div>
            </ngx-flip>
        </li>
        <li *ngIf="showMore" (click)="moreList()">더보기</li>
    </ul>
    

    <ion-fab right bottom style="padding:15px;">
        <!--<button ion-fab color="light"><img src="/assets/imgs/and/btn_barcode_p.png" width="140px;" /></button>-->
        <img src="/assets/imgs/and/btn_barcode_p.png" width="60px;" (click)="openBarCode()" />
    </ion-fab>
</ion-content>