page-fab {
    .ion-row-top > ion-col > div:first-child { padding-top:10px; padding-bottom:5px; }
    .ion-row-top > ion-col > div:last-child { font-size:12px; padding-bottom: 10px; }

    .select-div { border: 0px; border-top: 1px; border-color: #eee; border-style: solid; }

    ul { height:100%; width:100%; position:relative; list-style:none; padding-inline-start:0px; margin-top: 0px; }
    li { position:relative; height:260px; width:47%; margin-top: 2%}
    li:nth-child(odd) {
        float: left;
        margin-left: 2%;
    }
    li:nth-child(even) {
        float: right;
        margin-right: 2%;
    }
    li:last-child {
        margin-bottom: 30px;
    }
    .front-list {background-color: #FFFFFF; height: 260px;}
    .front-list-img { height: 140px; text-align: center; }
    .front-list-img > img {border: 2px solid #e9e9e9; border-radius: 50px; width: 100px; height: 100px; margin-top: 25px; }
    .front-list-title { padding-left: 9px; padding-right: 9px; font-weight: bold; font-size: 14px; height: 25px; line-height: 25px; overflow-y: hidden; }
    .front-list-detail { padding-left: 9px; padding-right: 9px; font-size: 12px; color: #777777; height: 25px; line-height: 25px; overflow-y: hidden; }
    .front-list-icon { padding-left: 9px; padding-right: 9px; border-bottom: #eee 1px solid; height: 30px; }
    .front-list-icon img { width: 30px; margin-top: 3px; }
    .front-list-buttom { padding-left: 9px; padding-right: 9px; font-size: 11px; height: 40px; line-height: 40px; overflow-y: hidden; }

    .back-list { background-color: #21B7EB; color: #FFFFFF; height: 260px; padding-top: 20px; }
    .back-list-title { padding-left: 9px; padding-right: 9px; font-size: 14px; font-weight: bold; height: 25px; line-height: 25px; overflow-y: hidden; }
    .back-list-detail { padding-left: 9px; padding-right: 9px; font-size: 11.5px; color: #bdeaf9; height: 25px; line-height: 25px; overflow-y: hidden; }
    .back-list-detail2 { padding-left: 9px; padding-right: 9px; border-bottom: #61cee9 1px solid;  padding-bottom: 3px; }
    .back-list-detail2 img { width: 16px; margin-top: 7px; }
    .back-list-detail2 div:first-child { position: absolute;}
    .back-list-detail2 div:last-child { position: relative; padding-left: 20px; font-size: 12px; height: 30px; line-height: 30px; overflow-y: hidden; }

    .back-list-tel { padding-top: 5px; padding-left: 9px; padding-right: 9px; }
    .back-list-tel img { width: 16px; margin-top: 3px; }
    .back-list-tel div:first-child { position: absolute;}
    .back-list-tel div:last-child { position: relative; padding-left: 20px; font-size: 12.5px; height: 25px; line-height: 25px; overflow-y: hidden; }

    .back-list-time { padding-left: 9px; padding-right: 9px; }
    .back-list-time img { width: 16px; margin-top: 3px; }
    .back-list-time div:first-child { position: absolute;}
    .back-list-time div:last-child { position: relative; padding-left: 20px; font-size: 12.5px; height: 25px; line-height: 25px; overflow-y: hidden; }

    .back-list-distance { padding-left: 9px; padding-right: 9px; }
    .back-list-distance img { width: 16px; margin-top: 3px; }
    .back-list-distance div:first-child { position: absolute;}
    .back-list-distance div:last-child { position: relative; padding-left: 20px; font-size: 12.5px; height: 25px; line-height: 25px; overflow-y: hidden; }

    .back-list-botton { clear:both;  text-align: center; margin-top: 20px; }
    .back-list-botton button { height: 35px; color: #21B7EB; font-weight: bold; font-size: 13px; }

    .select-div .item-inner {
        border-bottom: 0px !important;
    }
    .select-div ion-label {
        font-size: 12px;
    }
    .icon-right {
        text-align: right;
    }
    .icon_location {
        background-image: url('/assets/imgs/and/btn_location_n.png');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: center;
        width: 30px;
        height: 100%;
        display: inline-block;
    }
    .icon_location:hover {
        background-image: url('/assets/imgs/and/btn_location_p.png');
    }
    .icon_filter {
        margin: 10px 15px 10px 7px;
        background-image: url('/assets/imgs/and/icon_filter_n.png');
        background-repeat: no-repeat;
        background-size: 15px 15px;
        background-position: left;
        background-position-x: 10px;
        border: #828282 1px solid;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px; 
        width: 70px;
        height: 30px;
        text-align: right;
        line-height: 30px;
        padding-right: 10px;
        color: #828282;
        float: right;
        font-size: 13px;
    }
    .icon_filter:hover {
        background-image: url('/assets/imgs/and/icon_filter_p_s.png');
        border-color: #21B7EB;
        color: #21B7EB;
    }    
    .select-div .list-md {
        margin: 0;
        border-bottom: #cfcfcfcf 1px solid;
    }
    .select-div .list-ios {
        margin: 0;
        border-bottom: #cfcfcfcf 1px solid;
    }
    ion-scroll {
        background-color: #F5F5F5;
        min-height: 310px;
    }
    .btn_tab {
        background-image: url('/assets/imgs/and/line_hyphen.png');
        background-repeat: no-repeat;
        background-size: 130% 35px;
        background-position-y: 10px;
        background-position-x: center;
    }
    .btn_tab.recommend { 
        background-position-x: -130%;
    }  
    .btn_tab.event { 
        background-position-x: 230%;
    }
    .btn_tab img {
        width: 35px;
    }
}
