<!--
  Generated template for the ServiceListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title text-center>{{store_nm}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openHome()">
                <img src="../assets/imgs/and/btn_home_n.png" width="35px;" />
            </button>
            </ion-buttons>
    </ion-navbar>
</ion-header>
-->
<!-- header with back button --> 
<ion-header no-border>
    <ion-navbar color="primary">
        <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>{{store_nm}}</ion-title>
        <ion-buttons end>
        <button ion-button (click)="openHome()">
            <img src="../assets/imgs/and/btn_home_n.png" width="35px;" />
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header> 

<ion-content>
  <ion-grid no-padding>
    <ion-row class="shopImageHeader">
        <div class="shop_img">
            <img [src]="imageUrl + shopDetailInfo?.BRND_IMG_URL" onload="this.style.display=''" onerror="this.style.display='none'" />
        </div>
    </ion-row>
    <ion-row class="point_info">
        <ion-col>
          <ion-buttons text-center ><span>{{shopDetailInfo?.AVAIL_POINT | number:0}}P</span><br/><span class="smallFont">사용가능 POINT</span></ion-buttons>
        </ion-col>
        <ion-col>
          <ion-buttons text-center><span>{{shopDetailInfo?.STAMP_CNT | number:0}}S</span><br/><span class="smallFont">사용가능 STAMP</span></ion-buttons>
        </ion-col>
        <ion-col>
          <ion-buttons text-center><span>{{shopDetailInfo?.AVAIL_CASH | number:0}}C</span><br/><span class="smallFont">사용가능 CASH</span></ion-buttons>
        </ion-col>
    </ion-row> 

    <div class="shop_info">
        <ion-row>
            <ion-col col-3><span>영업시간</span> </ion-col>
            <ion-col col-9>
                <span>{{shopDetailInfo?.SHOP_START_TIME | slice:0:2}}:{{shopDetailInfo?.SHOP_START_TIME | slice:2:4}} - {{shopDetailInfo?.SHOP_END_TIME | slice:0:2}}:{{shopDetailInfo?.SHOP_END_TIME | slice:2:4}} / 휴무일 : {{shopDetailInfo?.SHOP_HOLIDAY}} </span></ion-col>  
        </ion-row>  
        <ion-row>
            <ion-col col-3><span>업종</span> </ion-col>
            <ion-col col-9><span>{{shopDetailInfo?.CATEGORY_NM}}</span></ion-col>  
        </ion-row>  
        <ion-row>
            <ion-col col-3><span>전화번호</span></ion-col>
            <ion-col col-6><span>{{shopDetailInfo?.SHOP_PHONE | phone}}</span></ion-col>  
            <ion-col col-3 text-right><span class="blueFont" (click)="phoneCall(shopDetailInfo?.SHOP_PHONE)">전화하기</span></ion-col>
        </ion-row>  
        <ion-row>
            <ion-col col-3><span>주소</span> </ion-col>
            <ion-col col-6 class="address"><span>{{shopDetailInfo?.SHOP_ADDRESS}}{{shopDetailInfo?.SHOP_ADDRESS_DETAIL}}</span></ion-col>  
            <ion-col col-3 text-right><span class="blueFont" (click)="openMap(shopDetailInfo?.SHOP_NM,shopDetailInfo?.SHOP_LOCATION_X,shopDetailInfo?.SHOP_LOCATION_Y,shopDetailInfo?.SHOP_ADDRESS,shopDetailInfo?.SHOP_PHONE)">지도보기</span></ion-col>
        </ion-row>
    </div>
    <div class="shop_event">
        <ion-row class="title">
            <ion-col><span><b>점포 EVENT</b></span></ion-col>       
        </ion-row>    
        <ion-row *ngIf="shopDetailInfo?.EVENT_YN == 'N'"><ion-col><span>진행 중인 이벤트가 없습니다.</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.EVENT_YN == 'Y' && shopDetailInfo?.EVENT_NOTICE1 != null"><ion-col><span>- {{shopDetailInfo.EVENT_NOTICE1}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.EVENT_YN == 'Y' && shopDetailInfo?.EVENT_NOTICE2 != null"><ion-col><span>- {{shopDetailInfo.EVENT_NOTICE2}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.EVENT_YN == 'Y' && shopDetailInfo?.EVENT_NOTICE3 != null"><ion-col><span>- {{shopDetailInfo.EVENT_NOTICE3}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.EVENT_YN == 'Y' && shopDetailInfo?.EVENT_NOTICE4 != null"><ion-col><span>- {{shopDetailInfo.EVENT_NOTICE4}}</span></ion-col></ion-row> 
    </div>
    <div class="save_use_info">
        <ion-row class="title">
            <ion-col><span><b>적립 및 사용안내</b></span> </ion-col>          
        </ion-row>  
        <ion-row class="sub_title">
            <ion-col><span><b>POINT</b></span></ion-col>       
        </ion-row>        
        <ion-row *ngIf="shopDetailInfo?.POINT_SAVE_NOTICE1 != null"><ion-col><span>- {{shopDetailInfo.POINT_SAVE_NOTICE1}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.POINT_SAVE_NOTICE2 != null"><ion-col><span>- {{shopDetailInfo.POINT_SAVE_NOTICE2}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.POINT_SAVE_NOTICE3 != null"><ion-col><span>- {{shopDetailInfo.POINT_SAVE_NOTICE3}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.POINT_SAVE_NOTICE4 != null"><ion-col><span>- {{shopDetailInfo.POINT_SAVE_NOTICE4}}</span></ion-col></ion-row>
    
        <ion-row class="sub_title">
            <ion-col><span><b>STAMP</b></span></ion-col>       
        </ion-row> 
        <ion-row *ngIf="shopDetailInfo?.STAMP_SAVE_NOTICE1 != null"><ion-col><span>- {{shopDetailInfo.STAMP_SAVE_NOTICE1}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.STAMP_SAVE_NOTICE2 != null"><ion-col><span>- {{shopDetailInfo.STAMP_SAVE_NOTICE2}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.STAMP_SAVE_NOTICE3 != null"><ion-col><span>- {{shopDetailInfo.STAMP_SAVE_NOTICE3}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.STAMP_SAVE_NOTICE4 != null"><ion-col><span>- {{shopDetailInfo.STAMP_SAVE_NOTICE4}}</span></ion-col></ion-row>
    
        <ion-row class="sub_title">
            <ion-col><span><b>CASH</b></span></ion-col>       
        </ion-row> 
        <ion-row *ngIf="shopDetailInfo?.CASH_SAVE_NOTICE1 != null"><ion-col><span>- {{shopDetailInfo.CASH_SAVE_NOTICE1}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.CASH_SAVE_NOTICE2 != null"><ion-col><span>- {{shopDetailInfo.CASH_SAVE_NOTICE2}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.CASH_SAVE_NOTICE3 != null"><ion-col><span>- {{shopDetailInfo.CASH_SAVE_NOTICE3}}</span></ion-col></ion-row>
        <ion-row *ngIf="shopDetailInfo?.CASH_SAVE_NOTICE4 != null"><ion-col><span>- {{shopDetailInfo.CASH_SAVE_NOTICE4}}</span></ion-col></ion-row>
    </div>
  </ion-grid>
  <ion-fab right bottom style="padding:15px;">          
    <img src="/assets/imgs/and/btn_barcode_p.png" width="60px;" (click)="openBarCode()" />
  </ion-fab>
</ion-content>