page-change-pw {
    ion-item { height: 55px;}
    .top-description { text-align: center; padding-top: 20px; padding-bottom: 20px; font-size: 15px;}
    .button { height: 49px; font-size: 17px; padding: 10px; }
    .exception-alert {padding-left: 2px; padding-top:5px; font-size: 12px; color:red; }
}
