<!--
  Generated template for the ChangePwPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar color="primary">
      <ion-grid no-padding>
        <ion-row>
          <ion-col>
            <ion-title>비밀번호 변경</ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    
    <div [ngSwitch]="view">
      <div *ngSwitchCase="'input'">
        <div class="top-description">
          <div>변경하실 비밀번호를 입력해 주세요.</div>
        </div>
        <form [formGroup]=formGroup>
          <ion-item><ion-input type="password" formControlName="pw" placeholder="현재 비밀번호 (영문+숫자 10자리 이상)" [(ngModel)]="pre_pw" clearInput></ion-input></ion-item>
          <ion-item><ion-input type="password" formControlName="newPw" placeholder="신규 비밀번호 (영문+숫자 10자리 이상)" [(ngModel)]="change_pw" clearInput></ion-input></ion-item>
          <ion-item><ion-input type="password" formControlName="newPwConfirm" placeholder="신규 비밀번호 확인(영문+숫자 10자리 이상)" [(ngModel)]="change_pw_confirm" clearInput></ion-input></ion-item>
        </form>
        <div class="exception-alert">
          {{error_txt}}
          <div *ngIf="(formGroup.get('pw').hasError('required') || formGroup.get('pw').hasError('minLength')) && formGroup.get('pw').touched">
              현재 비밀번호를 확인해 주세요.(영문+숫자 10자리 이상)
          </div>
          <div *ngIf="(formGroup.get('newPw').hasError('required') || formGroup.get('newPw').hasError('minLength') || formGroup.get('newPw').hasError('maxLength') || formGroup.get('newPw').hasError('pattern')) && formGroup.get('newPw').touched">
              신규 비밀번호를 확인해 주세요.(영문+숫자 10자리 이상)
          </div>
          <div *ngIf="(formGroup.get('newPwConfirm').hasError('required') || formGroup.get('newPwConfirm').hasError('equalTo')) && formGroup.get('newPwConfirm').touched">
              신규 비밀번호가 일치하지 않습니다.
          </div>
        </div>
        <div class="confirm-button"><button ion-button block [disabled]="!formGroup.valid" (click)="changePw()">확인</button></div>
      </div>
    </div>
    <div [ngSwitch]="view">
      <div *ngSwitchCase="'result'">
        <div class="top-description">
          <div>신규 비밀번호로 변경되었습니다.</div>
          <div>변경된 비밀번호로 서비스를 이용해 주세요.</div>
        </div>
        <ion-row><button ion-button block color="primary" (click)="goLogout()">로그아웃</button></ion-row>
      </div>
    </div>
  </ion-content>
  
