<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="white">
    <ion-title>회원정보입력 및 약관동의</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  
  <ion-grid no-padding no-border>
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label>남자</ion-label>
            <ion-checkbox color="primary" [(ngModel)]="checkMan" (ionChange)="changeMan()"></ion-checkbox>
          </ion-item>
      </ion-col>
      <ion-col>
          <ion-item>
            <ion-label>여자</ion-label>
            <ion-checkbox color="primary" [(ngModel)]="checkWoman" (ionChange)="changeWoman()"></ion-checkbox>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
            <div class="phone-number">{{mdn}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="formGroup">
  <ion-grid no-padding no-border class="input-text-grid">
    <div formGroupName="password">
      <ion-row>
        <ion-col>
          <ion-item>
              <ion-input formControlName="pw" type="password" placeholder="비밀번호 (영문+숫자 10자리 이상)" clearInput></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
              <ion-input formControlName="pwConfirm" type="password" placeholder="비밀번호 확인 (영문+숫자 10자리 이상)" clearInput></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-input formControlName="email" type="email" placeholder="이메일" clearInput></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-input formControlName="name" type="text" placeholder="이름(한글)" clearInput></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-input formControlName="birth" type="text" maxlength="8" placeholder="생년월일 8자리(예, 19910101)" clearInput></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>

  <ion-grid no-padding no-border>
    <div radio-group>
      <table>
        <colgroup>
          <col width='40%'>
          <col width='10%'>
          <col width='20%'>
          <col width='10%'>
          <col width='20%'>
        </colgroup>
        <tr>
          <td><ion-label>만 14세 이상 동의 (필수)</ion-label></td>
          <td (click)="changeBirthCheck('true')">
            <ion-radio value="true" [checked]="birthCheck" (click)="changeBirthCheck('true')"></ion-radio>
          </td>
          <td (click)="changeBirthCheck('true')">
            <ion-label>동의</ion-label> 
          </td>
          <td (click)="changeBirthCheck('false')">
            <ion-radio value="false" [checked]="!birthCheck" (click)="changeBirthCheck('false')"></ion-radio>
          </td>
          <td>
            <ion-label (click)="changeBirthCheck('false')">동의안함</ion-label>
          </td>
        </tr>
      </table>
    </div>
  </ion-grid>

  <ion-grid no-padding no-border class="auth-all-check-grid">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>약관 전체 동의</ion-label>
          <ion-checkbox color="primary" [(ngModel)]="authAllCheck" (ionChange)="changeAllCheck()"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="auth-check-div">
    <div *ngFor="let list of tosList">
      <div class="title">{{list.TITLE}}</div>
      <div class="view" (click)="openPolicy(list.TOS_NO, list.TITLE);">보기</div>
      <div class="check">
        <div class="img">
          <img *ngIf="list.AGREE_YN == 'Y'" src="/assets/imgs/and/btn_radio_join_s.png" width="30px;" />
          <img *ngIf="list.AGREE_YN == 'N'" src="/assets/imgs/and/btn_radio_join_n.png" width="30px;" (click)="changeAgreeYn(list, 'Y');" />
          <img *ngIf="list.AGREE_YN == ''" src="/assets/imgs/and/btn_radio_join_n.png" width="30px;" (click)="changeAgreeYn(list, 'Y');" />
        </div>
        <div class="text">동의</div>
        <div class="img2">
            <img *ngIf="list.AGREE_YN == 'Y'" src="/assets/imgs/and/btn_radio_join_n.png" width="30px;" (click)="changeAgreeYn(list, 'N');" />
            <img *ngIf="list.AGREE_YN == 'N'" src="/assets/imgs/and/btn_radio_join_s.png" width="30px;" />
            <img *ngIf="list.AGREE_YN == ''" src="/assets/imgs/and/btn_radio_join_n.png" width="30px;" (click)="changeAgreeYn(list, 'N');" />
        </div>
        <div class="text">동의안함</div>
      </div>
    </div>

  </div>
  <div class="exception-alert">
      {{exceptionAlert}}
      <span *ngIf="(formGroup.get('password').hasError('required') || formGroup.get('password').hasError('maxLength') || formGroup.get('password').hasError('minLength') || formGroup.get('password').hasError('pattern')) && formGroup.get('password').touched">
        패스워드를 확인해 주세요.
      </span>
      <span *ngIf="formGroup.get('password').hasError('nomatch') && formGroup.get('password').touched">
        비밀번호가 일치하지 않습니다.
      </span>
      <span *ngIf="(formGroup.get('email').hasError('required') || formGroup.get('email').hasError('pattern')) && formGroup.get('email').touched">
        이메일을 확인해 주세요.
      </span>
      <span *ngIf="(formGroup.get('name').hasError('required')) || formGroup.get('name').hasError('pattern') && formGroup.get('name').touched">
        이름을 확인해주세요. 이름은 한글만 가능합니다.
      </span>
      <span *ngIf="(formGroup.get('birth').hasError('required') || formGroup.get('birth').hasError('maxLength') || formGroup.get('birth').hasError('minLength')) && formGroup.get('birth').touched">
        생년월일 8자리를 확인해 주세요.
      </span>
  </div>
  <div class="reg-button">
      <button ion-button block [disabled]="!formGroup.valid" color="primary" (click)=reg();>다음</button>
  </div>
</ion-content>
