<!--
  Generated template for the ServiceListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
<ion-header no-border>
  <ion-navbar color="primary">
    <ion-grid no-padding>
      <ion-row align-items-center>
        <ion-col>
          <div text-start>
            <img src="../assets/imgs/and/btn_menu_w_n.png" width="35px;" menuToggle >
          </div>
        </ion-col>
        <ion-col>
          <div text-center><ion-title>My O² ZONE</ion-title></div>
        </ion-col>
        <ion-col>
          <div text-end style="padding-right:10px"><img src="../assets/imgs/and/btn_home_n.png" width="35px;"  (click)="openHome()" /></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
-->
<!-- header with back button --> 
<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>My O² ZONE</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openHome()">
          <img src="../assets/imgs/and/btn_home_n.png" width="35px;" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-border no-padding class="ion-grid-line">
    <ion-row>
      <ion-col style="height:5px; background-color:#F5F5F5;">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-scroll #scrollList scrollY="true" [style.height]="scroll_height+'px'">  
    <ion-list class="my-zone-list" *ngFor="let item of item_list; let last = last;" value="item">
      <ion-item (click)="openPoolShopDetailPage(item.POOL_CD,item.POOL_SERVICE_TYPE)">
        <div class="pool_img">
          <ion-img [src]="imageUrl + item.BRND_IMG_URL"></ion-img>
          <span class="cnt">{{item.BRND_CNT}}</span>
        </div>
        <div class="point_pool" *ngIf="item.POOL_SERVICE_TYPE == '1'">
          {{item.AVAIL_POINT | number:0}}
        </div>
        <div class="stamp_pool" *ngIf="item.POOL_SERVICE_TYPE == '2'">
          {{item.AVAIL_STAMP | number:0}}
        </div>
        <div class="cash">
          {{item.AVAIL_CASH | number:0}}
        </div>
        <div class="right_arrow"></div>
      </ion-item>
      <ion-item *ngIf="showMore && last">
        <!-- 더보기 -->
      </ion-item>
    </ion-list>
  </ion-scroll>
  <ion-fab right bottom style="padding:15px;">          
      <img src="/assets/imgs/and/btn_barcode_p.png" width="60px;" (click)="openBarCode()" />
  </ion-fab>
</ion-content>