page-find-pw {
    .div-email > div:first-child { text-align: center; color:#333333; padding-top: 20px; padding-bottom: 20px;}

    ion-footer div {padding: 0px 10px 10px 10px; }
    ion-footer div > div:first-child {float: left; padding-top:1px;}
    ion-footer div > div:last-child {font-size: 12px; color: #999999;}
}
