<!--
  Generated template for the FindPwPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="white">
    <ion-title>비밀번호 찾기</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="div-select" radio-group>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>이메일로 찾기</ion-label>
          <ion-radio value="1" item-left [checked]="checkEmail" (click)="changeEmail('1')"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>휴대폰 인증으로 찾기</ion-label>
          <ion-radio value="2" item-left [checked]="!checkEmail" (click)="changeEmail('2')"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <div class="div-email-cell" *ngIf="checkEmail == true">
    <form [formGroup]=emailFormGroup>
    <div>
      <div>임시 비밀번호를 부여 받으신 회원님께서는</div> 
      <div>비밀번호 변경 후 이용이 가능합니다.</div>
    </div>
    <div>
      <ion-item>
          <ion-input formControlName="username" type="text" placeholder="이름(한글)" clearInput></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item>
          <ion-input formControlName="cell" type="tel" placeholder="휴대폰 번호('-'없이 숫자만 입력)" clearInput></ion-input>
      </ion-item>
    </div>
    <div class="exception-alert">
        {{emailExceptionAlert}}
    </div>
    </form>
    <div class="confirm-button">
        <button ion-button block [disabled]="!emailFormGroup.valid" color="primary" (click)=confirm();>확인</button>
    </div>
  </div>
  <div class="div-email-cell" *ngIf="checkEmail == false">
    <form [formGroup]=cellFormGroup>
    <div>
      <div>휴대폰번호 인증 후</div>
      <div>휴대폰으로 비밀번호가 재발급됩니다.</div>
    </div>
    <div>
      <ion-item>
          <ion-input formControlName="username" type="text" placeholder="이름(한글)" clearInput></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item>
          <ion-input formControlName="cell" type="tel" placeholder="휴대폰 번호('-'없이 숫자만 입력)" clearInput></ion-input>
          <button ion-button block outline item-right [disabled]="cellFormGroup.get('cell').hasError('required')" style="width:80px; height:40px; font-size:14px;" (click)="cellAuthSend();">휴대폰 인증</button>
      </ion-item>
    </div>
    <div>
        <ion-item>
            <ion-input formControlName="auth" type="number" placeholder="인증번호 입력" clearInput></ion-input>
            <ion-badge item-end *ngIf="interval != undefined">{{mPath}}:{{sPath}}</ion-badge>
        </ion-item>
      </div>
    <div class="exception-alert">
        {{cellExceptionAlert}}
    </div>
    </form>
    <div class="confirm-button">
        <button ion-button block [disabled]="!cellFormGroup.valid" color="primary" (click)=confirm();>확인</button>
    </div>
  </div>

  <div class="div-bottom">

  </div>
</ion-content>
<ion-footer no-border>
    <div>
        <div><img src="/assets/imgs/and/icon_alert.png" width="16px;"></div>
        <div>비밀번호 재발급 후 이전 비밀번호 사용이 불가합니다.</div>
    </div>
</ion-footer>