<!--
  Generated template for the CertificationConfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="white">
    <ion-title>가입여부안내</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="div-text">
    <div *ngIf="user_type == '1'">
      이미 정회원으로
    </div>
    <div *ngIf="user_type == '2'">
      이미 간편회원으로
    </div>
    <div>
      이용중인 번호입니다.
    </div>
  </div>
  <div class="div-number">
    {{maskMdn}}
  </div>
  <div *ngIf="user_type == '1'" class="div-button">
    <button ion-button block outline (click)="login();">
        <img src="/assets/imgs/and/icon_join_l.png" width="45px;" />
        <ion-label>
          <div class="button-text">본인이 가입한 아이디라면</div>
          <div class="button-text"><span>로그인</span> 페이지로</div>
        </ion-label>
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </button>
  </div>
  <div *ngIf="user_type == '2'" class="div-button">
    <button ion-button block outline (click)="registerUpgrade();">
      <img src="/assets/imgs/and/icon_join_l.png" width="45px;" />
      <ion-label>
        <div class="button-text">본인이 가입한 아이디라면</div>
          <div class="button-text"><span>정회원</span>으로 가입 계속하기</div>
      </ion-label>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
  </button>
  </div>
  <div class="div-button">
    <button ion-button block outline (click)="register();">
      <img src="/assets/imgs/and/icon_join_y.png" width="45px;" />
      <ion-label>
        <div class="button-text">본인이 가입한 적 없다면</div>
        <div class="button-text"><span>신규회원</span>으로 가입 계속하기</div>
      </ion-label>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
  </button>
  </div>
</ion-content>
<ion-footer no-border>
    <div>
        <div><img src="/assets/imgs/and/icon_alert.png" width="16px;"></div>
        <div>입력하신 휴대폰 번호로 신규가입을 진행하실 경우, 해당 번호의 이력 및 혜택은 초기화 됩니다.</div>
    </div>
</ion-footer>