page-customer-detail {
    ion-row { height: 40px; margin:5px; }
    //.outline-button {height: 49px; font-size: 17px;}
    .password-input-text { text-align: center; padding-top: 10px; color: #888888;}
    .exception-alert {padding-left: 2px; padding-top:5px; font-size: 12px; color:red; }
    .confirm-button button {height: 49px; font-size: 17px;}
}
