page-pool-shop-detail {
    [menuToggle] {display: block !important;} 
    .smallFont{font-size:11px;}
    .blueFont{color: rgb(79, 189, 226);}
    .greenFont{color: rgb(68, 212, 68);}    
    .item-ios.item-block .item-inner {border: 0px;}
    .item-md.item-block .item-inner {border: 0px;}
}
