
page-coupon {
    .segment-md .segment-button { font-size: 1.6rem; color:#828282; }
    ion-select { max-width: 97% }
    .toolbar-background-md{ background:white; }
    .segment-button.segment-activated{ color:#21B7EB; }
    .item-md .item-button { height: 40px; font-size: 1.5rem; }
    
    .o2-view-top > div:first-child { padding:0px 5px; float:left;} 
    .o2-view-top > div:last-child { padding:12px 0px; float:left; } 
    .o2-view-top > div:last-child > div:first-child { padding:2px; font-size: 16px; font-weight: bold; color:#222222 } 
    .o2-view-top > div:last-child > div:last-child { padding:2px; font-size: 12px; color:#828282 } 

    .o2-view-detail { clear:both; background-color: #F5F5F5;} 
    .o2-view-detail > div:nth-child(1) { padding:10px; float:left;} 
    .o2-view-detail > div:nth-child(1) > div { padding:5px; height: 30px; } 
    .o2-view-detail > div:nth-child(1) div > div:nth-child(1) { padding:5px; float:left; width:130px; font-weight: bold; } 
    .o2-view-detail > div:nth-child(1) div > div:nth-child(2) { padding:5px; float:left; font-size: 13px; } 

    .o2-view-detail > div:nth-child(2) { padding-left:10px; clear:both; text-align: center;} 
    .o2-view-detail > div:nth-child(2) button { width:96%; background-color: #828282; font-size: 17px; height: 42px;} 
    .o2-view-detail > div:nth-child(3) { padding:17px; font-size: 13px; color: #F25D49; text-align: center; } 

    .o2-view-use-info { padding: 13px 27px; font-weight: bold; border-bottom: 2px; border-color: #F5F5F5; border-style: solid;}
    .o2-view-use-info-detail { padding: 15px 27px; font-size: 13px;}
    .o2-view-attention { padding: 10px 27px; font-weight: bold; background-color: #F5F5F5; }
    .o2-view-attention-detail {padding: 15px 27px; font-size: 13px; }

    ion-select { max-width: 97% }
    .toolbar-background-md{ background:white; }    
    .item-md .item-button { height: 40px; font-size: 1.5rem; }

    .find-shop-list { height: 85px; clear:both; padding: 0px; border: 0px; border-bottom: 2px; border-color: #F5F5F5; border-style: solid; }
    .find-shop-list div:nth-child(1) { width:90px; text-align: left; float:left; padding : 12px; }
    .find-shop-list div:nth-child(1) > img { border: 1px solid #e9e9e9; border-radius: 30px; width:60px; height:60px; }
    .find-shop-list div:nth-child(2) { text-align: left; float:left; width:50%; }
    .find-shop-list div:nth-child(2) div { clear: both; }
    .find-shop-list div:nth-child(2) div:nth-child(1) { padding:17px 0px 2px 5px; font-size: 15px; font-weight: bold; width: 100%; color:#222222 }
    .find-shop-list div:nth-child(2) div:nth-child(2) { padding:0px; font-size: 14px; float:left; width: 20px; padding-top: 2px; }
    .find-shop-list div:nth-child(2) div:nth-child(3) { padding:0px; font-size: 14px; float:left; width: 80%; height: 20px; clear: none; text-align: left; color:#828282 }
    .find-shop-list div:nth-child(3) { width:55x; text-align: right; float: right; height: 15px; padding-top: 30px; padding-right: 13px; color:#828282}

    .no-list div { text-align: center; max-height: 100vmax;}
    .no-list div:nth-child(1) { padding-top : 200px; }
    .no-list div:nth-child(2) { padding-bottom : 200px; color:#9EA0A3; }
    .segment-ios .segment-button{color:rgb(219, 218, 218); border-width:1px;}
    .segment-ios-dark .segment-button.segment-activated {background-color: transparent;}        
    .segment-md-dark .segment-button {color: rgb(219, 218, 218);}
    .segment-md-danger .segment-button {color: #ffb1b1;}
    [menuToggle] {display: block !important;}

    .select_box {border: #e0d8d8 1px solid;padding: 5px 10px 5px 10px !important;-webkit-border-radius: 20px;-moz-border-radius: 5px;border-radius: 5px;margin-right: 5px;width: 100%;height: 38px;font-size: 13px;}
    .select_box .select-icon {background-image: url('../assets/imgs/and/btn_dropdown_n.png');background-repeat: no-repeat;background-size: 12px 12px;background-position: center;margin-left: 3px;}
    .select_box .select-icon-inner {color: transparent !important;}
    .label-title {color: #222;font-size: 15px;}
    .item-ios.item-block .item-inner {border: 0px;}
    .item-md.item-block .item-inner {border: 0px;}
    .item-inner {padding-right: 8px; border: 0px;}
    .text-input-md {margin: 0px;margin-top: 2px;padding: 0;width: calc(100% - 8px - 8px);}
    .text-input-ios {margin: 0px;margin-top: 2px;padding: 0;width: calc(100% - 8px - 8px);}
    .item-md .item-button {padding: 0 0.6em;height: 34px;font-size: 1.2rem;}
    .item-ios .item-button {padding: 0 0.6em;height: 34px;font-size: 1.2rem;}
    .smallFont{font-size:11px;}
    .blueFont{color: rgb(79, 189, 226);}
    .greenFont{color: rgb(68, 212, 68);}    
    .pinkFont{color: rgb(223, 51, 171);}    

    .segment-ios .segment-button{border-bottom:solid 2px; border-left:none; border-right:none;}   

    .item-md ion-thumbnail {min-width: 80px;min-height: 40px;}
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {width: 80px;height: 40px;}
    .item-ios ion-thumbnail {min-width: 80px;min-height: 40px;}
    .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {width: 80px;height: 40px;}

    .select_month {
        border: #828282 1px solid;
        padding: 5px 10px 5px 10px !important;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        margin-right: 10px;
    }
    .select_month .select-icon {
        background-image: url('../assets/imgs/and/btn_dropdown_n.png');
        background-repeat: no-repeat;
        background-size: 12px 12px;
        background-position: center;
        margin-left: 3px;
    }
    .select_month .select-icon-inner {
        color: transparent !important;
    }
    .label-title {
        color: #222;
        font-size: 15px;
    }
    .select-text{
        font-size: 14px;
        color:#828282;
    }.list-ios {
        margin: -1px 0 0px;
    }
    .list-md {
        margin: -1px 0 0px;
    }
    
}

