<!--
  Generated template for the CouponPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar color="primary">
      <ion-grid no-padding>
        <ion-row align-items-center>
          <ion-col>
            <div text-start>
              <img src="/assets/imgs/and/btn_menu_w_n.png" width="35px;" menuToggle >
            </div>
          </ion-col>
          <ion-col>
            <div text-center><ion-title>O² 쿠폰샾</ion-title></div>
          </ion-col>
          <ion-col>
            <div text-end style="padding-right:10px"><img src="/assets/imgs/and/btn_home_n.png" width="35px;"  (click)="openHome()" /></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-navbar>

  </ion-header>


  <ion-content no-padding>
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="coupon">
        <ion-segment-button value="o2" class="segment-button segment-activated" (click)="segmentChange()">
          O² 쿠폰
        </ion-segment-button>
        <ion-segment-button value="my" (click)="segmentChange()">
          My 쿠폰함
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>


    <div [ngSwitch]="coupon">
      <div *ngSwitchCase="'o2'">
        <div *ngIf="listOrView == 'list'">
          <ion-item>
            <ion-select [(ngModel)]="term" interface="popover" color="primary" >
              <ion-option value="" selected>전체 쿠폰 조회</ion-option>
              <ion-option value="P">금액 쿠폰</ion-option>
              <ion-option value="S">할인 쿠폰</ion-option>
              <ion-option value="1">1+1 쿠폰</ion-option>
              <ion-option value="C">교환 쿠폰</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input placeholder="키워드를 입력해주세요.(가맹점명, 쿠폰명)"></ion-input>
            <button ion-button color="primary" item-end (click)="search()">검색</button>
          </ion-item>


          <ion-list>
            <ion-item>
              <button ion-button clear no-margin (click)="viewO2Detail('aaa')">
                <ion-thumbnail item-start>
                  <img src="/assets/imgs/and/job_icon_b_00.png">
                </ion-thumbnail>
                <div style="width:250px; text-align: left;">
                  <h2>1+1 쿠폰</h2>
                  <p>사용기한 :9년 11월 ~ 19년 12월</p>
                </div>
                <div style="width:100%; text-align: right;">
                  1000 &nbsp;<img src="/assets/imgs/and/icon_point_l.png" width="14px">
                </div>
              </button>
            </ion-item>
            <ion-item>
              <button ion-button clear no-margin (click)="viewO2Detail('aaa')">
                <ion-thumbnail item-start>
                  <img src="/assets/imgs/and/job_icon_b_00.png">
                </ion-thumbnail>
                <div style="width:250px; text-align: left;">
                  <h2>1+1 쿠폰</h2>
                  <p>사용기한 :9년 11월 ~ 19년 12월</p>
                </div>
                <div style="width:100%; text-align: right;">
                  1000 &nbsp;<img src="/assets/imgs/and/icon_point_l.png" width="14px">
                </div>
              </button>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="listOrView == 'view'">
          
          <div class="o2-view-top">
            <div>
              <img src="/assets/imgs/and/job_icon_b_00.png" width="75px;">
            </div>
            <div>
              <div>솔루션개발팀_테스트</div>
              <div>테스트쿠폰입니다.</div>
            </div>
          </div>

          <div class="o2-view-detail">
            <div>
              <div>
                <div>유효기간</div>
                <div>2018.11.12 ~ 2018.12.20</div>
              </div>
              <div>
                <div>사용처/브랜드</div>
                <div>솔루션개발팀_테스트</div>
              </div>
              <div>
                <div>사용불가매장</div>
                <div>해당 없음</div>
              </div>
            </div>
            <div>
                <button ion-button>쿠폰 사용하기</button>
            </div>
            <div>
              앱에서 사용할 수 없습니다.
            </div>
          </div>

          <div class="o2-view-use-info">
            사용안내
          </div>
          <div class="o2-view-use-info-detail">
            테스트중입니다.
          </div>
          <div class="o2-view-attention">
            주의사항
          </div>
          <div class="o2-view-attention-detail">
            테스트중입니다.
          </div>

        </div>

      </div>

      <ion-list *ngSwitchCase="'my'">
        <div *ngIf="listOrView == 'list'">
          <ion-item item-end>
            <ion-label style="font-size: 14px;">사용 가능 쿠폰 <span style="color:#21B7EB" >1</span>장</ion-label>
            <ion-select [(ngModel)]="term" interface="popover" color="primary" >
              <ion-option value="" selected>신규 발급순</ion-option>
              <ion-option value="P">마감 임박순</ion-option>
              <ion-option value="S">기간 만료 쿠폰</ion-option>
              <ion-option value="1">사용 완료 쿠폰</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <button ion-button clear no-margin (click)="viewMyDetail('aaa')">
              <ion-thumbnail item-start>
                <img src="/assets/imgs/and/job_icon_b_00.png">
              </ion-thumbnail>
              <div>
                <h2 style="text-align: left">1+1 쿠폰</h2>
                <p>사용기한 :9년 11월 ~ 19년 12월</p>
              </div>
            </button>
          </ion-item>
          <ion-item>
            <button ion-button clear no-margin (click)="viewMyDetail('aaa')">
              <ion-thumbnail item-start>
                <img src="/assets/imgs/and/job_icon_b_00.png">
              </ion-thumbnail>
              <div>
                <h2 style="text-align: left">1+1 쿠폰</h2>
                <p>사용기한 :9년 11월 ~ 19년 12월</p>
              </div>
            </button>
          </ion-item>
        </div>
        <div *ngIf="listOrView == 'view'">
        
          <div class="o2-view-top">
            <div>
              <img src="/assets/imgs/and/job_icon_b_00.png" width="75px;">
            </div>
            <div>
              <div>솔루션개발팀_테스트</div>
              <div>테스트쿠폰입니다.</div>
            </div>
          </div>

          <div class="o2-view-detail">
            <div>
              <div>
                <div>유효기간</div>
                <div>2018.11.12 ~ 2018.12.20</div>
              </div>
              <div>
                <div>사용처/브랜드</div>
                <div>솔루션개발팀_테스트</div>
              </div>
              <div>
                <div>사용불가매장</div>
                <div>해당 없음</div>
              </div>
            </div>
            <div>
                <button ion-button>쿠폰 사용하기</button>
            </div>
            <div>
              앱에서 사용할 수 없습니다.
            </div>
          </div>

          <div class="o2-view-use-info">
            사용안내
          </div>
          <div class="o2-view-use-info-detail">
            테스트중입니다.
          </div>
          <div class="o2-view-attention">
            주의사항
          </div>
          <div class="o2-view-attention-detail">
            테스트중입니다.
          </div>

        </div>
      </ion-list>
    

      
    </div>
  </ion-content>
