page-coupon {

}
.segment-md .segment-button {
    font-size: 1.6rem;
    color:#828282;
}
ion-select {
    max-width: 97%
}

.toolbar-background-md{
    background:white;
}
.segment-button.segment-activated{
    color:#21B7EB;
}

.item-md .item-button {
    height: 40px;
    font-size: 1.5rem;
}