
<ion-header no-border>
    <ion-navbar color="primary" hideBackButton>              
        <ion-grid no-padding>
            <ion-row align-items-center>
            <ion-col>
                <div text-start>
                <img src="../assets/imgs/and/btn_menu_w_n.png" width="35px;" menuToggle >
                </div>
            </ion-col>
            <ion-col>
                <div text-center><ion-title>O² 쿠폰샾</ion-title></div>
            </ion-col>
            <ion-col>
                <div text-end style="padding-right:10px"><img src="../assets/imgs/and/btn_home_n.png" width="35px;"  (click)="openHome()" /></div>
            </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <ion-card-content no-padding class="card-content card-content-md">
        <ion-segment [(ngModel)]="coupon" color="dark" class="segment segment-md segment-md-dark ng-valid ng-touched ng-dirty">
            <ion-segment-button class="segment-button segment-activated" role="button" tappable="" value="o2" aria-pressed="false" (click)="segmentChange('1')" style="align-items: center; border-top:0px;border-left:0px;border-bottom-left-radius:0px;">
                <b>O² 쿠폰</b>
            </ion-segment-button>
            <ion-segment-button class="segment-button" role="button" tappable="" value="my" aria-pressed="true" (click)="segmentChange('2')" style="align-items: center; border-top:0px;border-right:0px;border-bottom-right-radius:0px;">
                <b>My 쿠폰함</b>
            </ion-segment-button>
        </ion-segment>          
    </ion-card-content>

    <div [ngSwitch]="coupon">
        <div *ngSwitchCase="'o2'">
            <div *ngIf="listOrView == 'list'">
                <div class="search_area">
                    <ion-item>
                        <ion-select class="line_box select_box" interface="popover" color="primary" (ionChange)="onChange($event)" >
                            <ion-option value=""   selected>전체 쿠폰 조회</ion-option>
                            <ion-option value="03" [selected]="'03' === couponType">금액 쿠폰</ion-option>
                            <ion-option value="01" [selected]="'01' === couponType">할인 쿠폰</ion-option>
                            <ion-option value="02" [selected]="'02' === couponType">1+1 쿠폰</ion-option>
                            <ion-option value="04" [selected]="'04' === couponType">교환 쿠폰</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-input class="line_box input_box" [(ngModel)]="keyword" placeholder="키워드를 입력해주세요.(가맹점명, 쿠폰명)"></ion-input>
                        <button class="btn_search" ion-button color="primary" item-end (click)="search()">검색</button>
                    </ion-item>
                </div>
                <ion-scroll #scrollList1 scrollY="true" [style.height]="scroll_height_1+'px'">
                    <ion-list class="coupon_list">          
                        <ion-item *ngFor="let item of item_list;" (click)="viewO2Detail(item.COUPON_CD)" style="border-bottom: 1px solid #dedede;">
                            <ion-thumbnail item-start *ngIf="item.COUPON_TYPE == '01'">
                                <img src="/assets/imgs/and/ic_coupon_d.png">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="item.COUPON_TYPE == '02'">
                                <img src="/assets/imgs/and/ic_coupon_p.png">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="item.COUPON_TYPE == '03'">
                                <img src="/assets/imgs/and/ic_coupon_m.png">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="item.COUPON_TYPE == '04'">
                                <img src="/assets/imgs/and/ic_coupon_c.png">
                            </ion-thumbnail>
                            <h3>{{item.SHOP_NM}}</h3>
                            <p><span class="smallFont">{{item.COUPON_NM}}</span></p>
                            <p item-end>                      
                                <span class="smallFont point_price">0</span>
                            </p>
                        </ion-item>
                        <ion-item *ngIf="showMore_1">
                            <!-- 더보기 -->
                        </ion-item>
                    </ion-list>
                </ion-scroll>
            </div>


            <div *ngIf="listOrView == 'view'">
                <div class="o2-view-top">
                    <ion-list>          
                        <ion-item>
                            <ion-thumbnail item-start *ngIf="o2CouponDetailInfo.COUPON_TYPE == '01'">
                                <img src="/assets/imgs/and/ic_coupon_d.png">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="o2CouponDetailInfo.COUPON_TYPE == '02'">
                                <img src="/assets/imgs/and/ic_coupon_p.png">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="o2CouponDetailInfo.COUPON_TYPE == '03'">
                                <img src="/assets/imgs/and/ic_coupon_m.png">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="o2CouponDetailInfo.COUPON_TYPE == '04'">
                                <img src="/assets/imgs/and/ic_coupon_c.png">
                            </ion-thumbnail>
                            <h3>{{o2CouponDetailInfo?.SHOP_NM}}</h3>
                            <p><span class="smallFont">{{o2CouponDetailInfo?.COUPON_NM}}</span></p>
                            <p item-end>                      
                                <span class="smallFont point_price">0</span>
                            </p>                 
                        </ion-item>
                    </ion-list> 
                </div>

                <div class="o2-view-detail">
                    <ion-grid>
                        <ion-row align-items-center>
                            <ion-col col-4>
                                유효기간
                            </ion-col>
                            <ion-col class="smallFont" col-8>
                                구매일로부터 n개월
                            </ion-col>
                        </ion-row>
                        <ion-row align-items-center>
                            <ion-col col-4>
                                사용처/브랜드
                            </ion-col>
                            <ion-col class="smallFont" col-8>
                                {{o2CouponDetailInfo?.SHOP_NM}}
                            </ion-col>
                        </ion-row>
                        <ion-row align-items-center>
                            <ion-col col-4>
                                사용불가매장
                            </ion-col>
                            <ion-col class="smallFont" col-8>
                                해당 없음
                            </ion-col>
                        </ion-row>
                        <ion-row align-items-center class="button_area">
                            <ion-col col-12>
                                <button ion-button *ngIf="o2CouponDetailInfo?.DOWNLOAD_CNT == '0'" color="gray" disabled="disabled">쿠폰 구매하기</button>
                                <button ion-button *ngIf="o2CouponDetailInfo?.DOWNLOAD_CNT != '0'" color="primary" (click)="couponCreate(o2CouponDetailInfo?.COUPON_CD, o2CouponDetailInfo?.SHOP_NM, o2CouponDetailInfo?.COUPON_NM, o2CouponDetailInfo?.COUPON_TYPE)">쿠폰 구매하기</button>     
                            </ion-col>
                        </ion-row>
                    </ion-grid>        
                </div>
                <div text-center class="red_info_text" *ngIf="o2CouponDetailInfo?.DOWNLOAD_CNT == '0'">잔여 수량이 부족합니다.</div>
                <ion-list no-padding>
                    <ion-item class="title_w">               
                        결제정보
                    </ion-item>
                    <div class="sub_area">         
                        <ion-item class="sub_title">               
                            <span>보유포인트</span>                                
                            <p item-end>                      
                            <span class="smallFont point_price">{{o2CouponDetailInfo?.AVAIL_POINT | number:0}}</span>
                            </p>                 
                        </ion-item>   
                        <ion-item class="sub_title">    
                            <span>쿠폰 구매 포인트</span>                                                  
                            <p item-end>
                            <span class="smallFont point_price">0</span>
                            </p>                 
                        </ion-item>    
                        <ion-item class="sub_title">        
                            <span>구매 시 잔여 포인트</span>                                                           
                            <p item-end>
                            <span class="smallFont point_price">{{o2CouponDetailInfo?.AVAIL_POINT | number:0}}</span>
                            </p>                 
                        </ion-item>  
                    </div>
                    <ion-item class="title_g">
                            사용안내
                    </ion-item> 
                    <div class="sub_area">     
                        <ion-item *ngIf="o2CouponDetailInfo.USE_NOTICE1 != null && o2CouponDetailInfo.USE_NOTICE1 != ''" class="sub_title">               
                            <span class="smallFont">{{o2CouponDetailInfo?.USE_NOTICE1}}</span>                                                             
                        </ion-item>          
                        <ion-item *ngIf="o2CouponDetailInfo.USE_NOTICE2 != null && o2CouponDetailInfo.USE_NOTICE2 != ''" class="sub_title">               
                            <span class="smallFont">{{o2CouponDetailInfo?.USE_NOTICE2}}</span>                                                             
                        </ion-item>          
                        <ion-item *ngIf="o2CouponDetailInfo.USE_NOTICE3 != null && o2CouponDetailInfo.USE_NOTICE3 != ''" class="sub_title">               
                            <span class="smallFont">{{o2CouponDetailInfo?.USE_NOTICE3}}</span>                                                             
                        </ion-item>  
                    </div>
                    <ion-item class="title_g">
                        주의사항
                    </ion-item>
                    <div class="sub_area"> 
                        <ion-item *ngIf="o2CouponDetailInfo.CONSTRAINT_NOTICE1 != null && o2CouponDetailInfo.CONSTRAINT_NOTICE1 != ''" class="sub_title">               
                            <span class="smallFont">{{o2CouponDetailInfo?.CONSTRAINT_NOTICE1}}</span>                                                             
                        </ion-item>          
                        <ion-item *ngIf="o2CouponDetailInfo.CONSTRAINT_NOTICE2 != null && o2CouponDetailInfo.CONSTRAINT_NOTICE2 != ''" class="sub_title">               
                            <span class="smallFont">{{o2CouponDetailInfo?.CONSTRAINT_NOTICE2}}</span>                                                             
                        </ion-item>          
                        <ion-item *ngIf="o2CouponDetailInfo.CONSTRAINT_NOTICE3 != null && o2CouponDetailInfo.CONSTRAINT_NOTICE3 != ''" class="sub_title">               
                            <span class="smallFont">{{o2CouponDetailInfo?.CONSTRAINT_NOTICE3}}</span>                                                             
                        </ion-item> 
                    </div>  
                </ion-list>
            </div>
        </div>

        <div *ngSwitchCase="'my'">
            <div *ngIf="listOrView == 'list'">
                <ion-item>
                    <ion-label><span class="label-title">사용 가능 쿠폰<span class="avail_coupon_cnt">{{couponList2?.AVAIL_COUPON | number:0}}</span>장</span></ion-label>
                    <ion-select class="search_type" [(ngModel)]="search_type" interface="popover" color="primary" (ionChange)="onChange2($event)">
                        <ion-option value="01" [selected]="'01' === search_type">신규발급순</ion-option>
                        <ion-option value="02" [selected]="'02' === search_type">마감임박순</ion-option>
                        <ion-option value="03" [selected]="'03' === search_type">기간 만료</ion-option>
                        <ion-option value="04" [selected]="'04' === search_type">사용 완료</ion-option>
                    </ion-select>
                </ion-item>
                <ion-grid no-border no-padding class="ion-grid-line">
                    <ion-row>
                        <ion-col></ion-col>
                    </ion-row>
                </ion-grid>
                <ion-scroll #scrollList2 scrollY="true" [style.height]="scroll_height_2+'px'">
                    <ion-list class="coupon_list">          
                        <ion-item *ngFor="let item of item_list2" value="item" (click)="viewMyDetail(item.COUPON_SEQ)" style="border-bottom: 1px solid #dedede;">
                            <ion-thumbnail item-start *ngIf="item.COUPON_TYPE == '01'">
                                <img src="/assets/imgs/and/ic_coupon_d.png" height="40px;">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="item.COUPON_TYPE == '02'">
                                <img src="/assets/imgs/and/ic_coupon_p.png" height="40px;">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="item.COUPON_TYPE == '03'">
                                <img src="/assets/imgs/and/ic_coupon_m.png" height="40px;">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="item.COUPON_TYPE == '04'">
                                <img src="/assets/imgs/and/ic_coupon_c.png" height="40px;">
                            </ion-thumbnail>
                            <h3>{{item.SHOP_NM}}</h3>
                            <p><span class="smallFont">{{item.COUPON_NM}}</span></p>
                            
                            <!-- <div style="width:100%; text-align: right;">
                                <button style="width: 144px;height: 69px; background-image: url('/assets/imgs/and/state_coupon_day.png')" *ngIf="item.STATUS != '03'">D-{{item.DEADLINE}}</button>
                                <button style="width: 144px;height: 69px; background-image: url('/assets/imgs/and/state_coupon_end.png')" *ngIf="item.STATUS == '03'">D+{{item.DEADLINE}}</button>
                            </div>        -->
                        </ion-item> 
                        <ion-item *ngIf="showMore_2">
                            <!-- 더보기 -->
                        </ion-item>
                    </ion-list>
                </ion-scroll> 
            </div>
            

            <div *ngIf="listOrView == 'view'">
                <div class="o2-view-top">
                    <ion-list>          
                        <ion-item>
                            <ion-thumbnail item-start *ngIf="myCouponDetailInfo.COUPON_TYPE == '01'">
                                <img src="/assets/imgs/and/ic_coupon_d.png">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="myCouponDetailInfo.COUPON_TYPE == '02'">
                                <img src="/assets/imgs/and/ic_coupon_p.png">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="myCouponDetailInfo.COUPON_TYPE == '03'">
                                <img src="/assets/imgs/and/ic_coupon_m.png">
                            </ion-thumbnail>
                            <ion-thumbnail item-start *ngIf="myCouponDetailInfo.COUPON_TYPE == '04'">
                                <img src="/assets/imgs/and/ic_coupon_c.png">
                            </ion-thumbnail>
                            <h3>{{myCouponDetailInfo?.SHOP_NM}}</h3>
                            <p><span class="smallFont">{{myCouponDetailInfo?.COUPON_NM}}</span></p>               
                        </ion-item> 
                    </ion-list>             
                </div>

                <div class="o2-view-detail">
                    <ion-grid>
                        <ion-row align-items-center>
                        <ion-col col-4>
                            유효기간
                        </ion-col>
                        <ion-col class="smallFont" col-8>
                            {{myCouponDetailInfo?.VALID_START_DATE | slice:0:4}}-{{myCouponDetailInfo?.VALID_START_DATE | slice:4:6}}-{{myCouponDetailInfo?.VALID_START_DATE | slice:6:8}}
                            ~
                            {{myCouponDetailInfo?.VALID_END_DATE | slice:0:4}}-{{myCouponDetailInfo?.VALID_END_DATE | slice:4:6}}-{{myCouponDetailInfo?.VALID_END_DATE | slice:6:8}}
                        </ion-col>
                        </ion-row>
                        <ion-row align-items-center>
                            <ion-col col-4>
                                사용처/브랜드
                            </ion-col>
                            <ion-col class="smallFont" col-8>
                                {{myCouponDetailInfo?.SHOP_NM}}
                            </ion-col>
                        </ion-row>
                        <ion-row align-items-center>
                            <ion-col col-4>
                                사용불가매장
                            </ion-col>
                            <ion-col class="smallFont" col-8>
                                해당 없음
                            </ion-col>
                            </ion-row>
                            <ion-row align-items-center class="button_area">
                                <ion-col col-12>
                                    <button ion-button *ngIf="myCouponDetailInfo?.POS_AGENT_USE_YN == 'Y'" color="gray" disabled="disabled">쿠폰 사용하기</button>
                                    <button ion-button *ngIf="myCouponDetailInfo?.POS_AGENT_USE_YN != 'Y'" color="primary" (click)="couponUse(myCouponDetailInfo?.COUPON_SEQ)">쿠폰 사용하기</button>
                                </ion-col>
                            </ion-row>
                    </ion-grid>            
                </div>
                <div text-center class="red_info_text" *ngIf="myCouponDetailInfo?.POS_AGENT_USE_YN == 'Y'">앱에서 사용할 수 없습니다.</div>
                <ion-list no-padding>    
                    <ion-item class="title_w">               
                        사용안내
                    </ion-item>
                    <div class="sub_area">           
                        <ion-item *ngIf="myCouponDetailInfo.USE_NOTICE1 != null && myCouponDetailInfo.USE_NOTICE1 != ''" class="sub_title">               
                            <span class="smallFont">{{myCouponDetailInfo?.USE_NOTICE1}}</span>                                                             
                        </ion-item>          
                        <ion-item *ngIf="myCouponDetailInfo.USE_NOTICE2 != null && myCouponDetailInfo.USE_NOTICE2 != ''" class="sub_title">               
                            <span class="smallFont">{{myCouponDetailInfo?.USE_NOTICE2}}</span>                                                             
                        </ion-item>          
                        <ion-item *ngIf="myCouponDetailInfo.USE_NOTICE3 != null && myCouponDetailInfo.USE_NOTICE3 != ''" class="sub_title">               
                            <span class="smallFont">{{myCouponDetailInfo?.USE_NOTICE3}}</span>                                                             
                        </ion-item>  
                    </div>
                    <ion-item class="title_g">               
                        주의사항                                                               
                    </ion-item>  
                    <div class="sub_area">    
                        <ion-item *ngIf="myCouponDetailInfo.CONSTRAINT_NOTICE1 != null && myCouponDetailInfo.CONSTRAINT_NOTICE1 != ''" class="sub_title">               
                            <span class="smallFont">{{myCouponDetailInfo?.CONSTRAINT_NOTICE1}}</span>                                                             
                        </ion-item>          
                        <ion-item *ngIf="myCouponDetailInfo.CONSTRAINT_NOTICE2 != null && myCouponDetailInfo.CONSTRAINT_NOTICE2 != ''" class="sub_title">               
                            <span class="smallFont">{{myCouponDetailInfo?.CONSTRAINT_NOTICE2}}</span>                                                             
                        </ion-item>          
                        <ion-item *ngIf="myCouponDetailInfo.CONSTRAINT_NOTICE3 != null && myCouponDetailInfo.CONSTRAINT_NOTICE3 != ''" class="sub_title">               
                            <span class="smallFont">{{myCouponDetailInfo?.CONSTRAINT_NOTICE3}}</span>                                                             
                        </ion-item> 
                    </div>
                </ion-list>   
            </div>
        </div>
    </div>
</ion-content>
