<!--
  Generated template for the ServiceListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title text-center>{{title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openHome()">
                <img src="../assets/imgs/and/btn_home_n.png" width="35px;" />
            </button>
          </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content no-padding>
    <div>
      <ion-list>          
        <ion-item *ngFor="let item of item_list" (click)="openShopInfo(item.SHOP_CD,item.SHOP_NM)" style="border-bottom: 1px solid #dedede;">
            <ion-avatar item-start class="pool_img">             
                <img src="imageUrl + item.BRND_IMG_URL" onError="this.src='/assets/imgs/and/job_icon_b_20.png'">
            </ion-avatar>
          <h3>{{item.SHOP_NM}}</h3>

          <p *ngIf="item.POINT_POLICY != null">
          <img src="../assets/imgs/and/icon_o2_point.png"  width="12px;" height="12px;" />
          <span class="smallFont">{{item.POINT_POLICY}}</span>
          </p>
          <p *ngIf="item.POINT_POLICY == null && item.STAMP_POLICY != null">
          <img src="../assets/imgs/and/icon_o2_stamp.png"  width="12px;" height="12px;" />
          <span class="smallFont">{{item.STAMP_POLICY}}</span>
          </p>
          <p *ngIf="item.POINT_POLICY == null && item.STAMP_POLICY == null && item.CASH_POLICY != null">
          <img src="../assets/imgs/and/icon_o2_cash.png"  width="12px;" height="12px;" />
          <span class="smallFont">{{item.CASH_POLICY}}</span>
          </p>
        </ion-item>          
      </ion-list>
    </div>
  </ion-content>