page-thema-zone-detail {
    .item-ios.item-block .item-inner {border: 0px;}
    .item-md.item-block .item-inner {border: 0px;}
    .item-inner {padding-right: 8px; border: 0px;}
    .back-button-md {
        width:39px;    
        min-width:39px;
    }
}
