// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* ::-webkit-scrollbar{
    display:none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.o2zon{
    background-color: rgb(248, 246, 246);
}
.menu_grid{
    padding: 0px;
}
.col{
    padding:0px;
}
.activePool{
    background-image:url(../assets/imgs/and/btn_radio_join_n.png);
    background-position: center;
    background-size: 80%;
    background-repeat:no-repeat;
    height:70px;
}
.activePoolNum{
    display:table;
    float:right; 
    width:20px; 
    height:20px; 
    text-align:center; 
    background-image:url(../assets/imgs/and/list_num_s.png);
    background-position: center;
    background-size: 90%;
    background-repeat:no-repeat;
    color:aliceblue
}
.replaceBox{
    background-image:url(../assets/imgs/and/reflesh_p.png);
    background-position: center;
    background-size: 90%;
    background-repeat:no-repeat;
    background-color:transparent;
    width:25px;
    height:25px;
}
