<ion-menu [content]="content">
  <ion-header no-border>
    <ion-toolbar color="primary">      
      <ion-grid no-padding>
        <ion-row align-items-center>
          <ion-col col-10 style="color:white; font-weight:bold;padding-left:5px;">            
                {{customer_nm}} 님의 My O²            
          </ion-col>
          <ion-col col-1 text-end>
              <img src="../assets/imgs/and/reflesh_n.png" (click)="getBaseInfo()"  width="33px;"/>                          
          </ion-col>
          <ion-col col-1 text-end>
              <img src="../assets/imgs/and/btn_close_w_n.png"  width="33px;" menuClose/>                          
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row menuClose align-items-center style="padding:15px 6px 15px 2px; border-bottom:solid 1px rgb(238, 237, 237);" (click)="openServiceList('P')">
        <ion-col col-3><div text-left style="font-size: 14px; border:1px;">O² POINT</div></ion-col>
        <ion-col col-1 no-padding><div text-left align-items-center><img src="../assets/imgs/and/icon_point_l.png"  width="21px;"/></div></ion-col>
        <ion-col col-7><div text-left style="font-size: 23px; color:#21B7EB; padding-left: 5px;">{{avail_point | number:0}}</div></ion-col>
        <ion-col col-1><div text-right><img src="../assets/imgs/and/icon_arrow_front.png"  width="17px;"/></div></ion-col>
      </ion-row>
      <ion-row menuClose align-items-center style="padding:15px 6px 15px 2px; border-bottom:solid 1px rgb(238, 237, 237);" (click)="openServiceList('S')">
        <ion-col col-3><div text-left style="font-size: 14px;">O² STAMP</div></ion-col>
        <ion-col col-1 no-padding><div text-left align-items-center><img src="../assets/imgs/and/icon_stamp_l.png"  width="21px;"/></div></ion-col>
        <ion-col col-7><div text-left style="font-size: 23px; color:#87C857; padding-left: 5px;">{{avail_stamp | number:0}}</div></ion-col>
        <ion-col col-1><div text-right><img src="../assets/imgs/and/icon_arrow_front.png"  width="17px;"/></div></ion-col>
      </ion-row>
      <ion-row menuClose align-items-center style="padding:15px 6px 15px 2px;" (click)="openServiceList('C')">
        <ion-col col-3><div text-left style="font-size: 14px;">O² CASH</div></ion-col>
        <ion-col col-1 no-padding><div text-left align-items-center><img src="../assets/imgs/and/icon_cash_l.png"  width="21px;"/></div></ion-col>
        <ion-col col-7><div text-left style="font-size: 23px; color:#FF7FC8; padding-left: 5px;">{{avail_cash | number:0}}</div></ion-col>
        <ion-col col-1><div text-right><img src="../assets/imgs/and/icon_arrow_front.png"  width="17px;"/></div></ion-col>
      </ion-row>
      <ion-row class="o2zon" style="align-items:center; padding-top:5px;">
        <ion-col><span style="font-size:12px;margin:6px;font-weight:bold;" >My O² ZONE</span></ion-col>
    </ion-row>
    <ion-row class="o2zon" *ngIf="poolList?.length > 0">
      <ion-slides loop="true" class="slides slides-md slides-0" (ionSlideDidChange)="slideChanged()">
        <ion-slide no-padding *ngFor="let page of poolPages">          
          <ion-grid style="padding-bottom:13px;">
            <ion-row>                
              <ion-col menuClose *ngFor="let item of getPoolItems(page)" value="item" [ngClass]="{activePool: item.IS_ACTIVE}" (click)="openPoolShopDetailPage(item.POOL_CD,item.POOL_SERVICE_TYPE)">                  
                <div [ngClass]="{activePoolNum: item.IS_ACTIVE}" style="margin-right:7px;">
                  <span style="display: table-cell;vertical-align: middle;">{{item.BRND_CNT}}</span>  
                </div>
                <div style="width:100%;text-align:center;font-size:12px;position:absolute; bottom:-10px;">
                 <span *ngIf="item.POOL_SERVICE_TYPE == '1'">{{item.AVAIL_POINT | number:0}}P</span>
                 <span *ngIf="item.POOL_SERVICE_TYPE == '2'">{{item.AVAIL_STAMP | number:0}}S</span>
                </div>                 
              </ion-col>                
            </ion-row>                  
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-row> 
    <ion-row align-items-center justify-content-center class="o2zon o2zon-null" *ngIf="poolList?.length <= 0">O² 앱으로 적립을 이용해 보세요.</ion-row>
      <ion-row menuClose justify-content-center style="padding:17px 6px 5px 2px; border-bottom:solid 1px rgb(238, 237, 237);" (click)="openCoupon()">
        <ion-col col-2><div text-left><img src="../assets/imgs/and/icon_m_coupon.png"  width="28px;"/></div></ion-col>
        <ion-col col-9><div text-left style="font-size: 16px; color:#686868;">O² 쿠폰샾</div></ion-col>
        <ion-col col-1><div text-right><img src="../assets/imgs/and/icon_arrow_front.png"  width="17px;"/></div></ion-col>
      </ion-row>
      <ion-row menuClose justify-content-center style="padding:17px 6px 5px 2px; border-bottom:solid 1px rgb(238, 237, 237);" (click)="openFindShop()">
        <ion-col col-2><div text-left><img src="../assets/imgs/and/icon_m_store.png"  width="28px;"/></div></ion-col>
        <ion-col col-9><div text-left style="font-size: 16px; color:#686868;">매장찾기</div></ion-col>
        <ion-col col-1><div text-right><img src="../assets/imgs/and/icon_arrow_front.png"  width="17px;"/></div></ion-col>
      </ion-row>
      <ion-row menuClose justify-content-center style="padding:17px 6px 5px 2px; border-bottom:solid 1px rgb(238, 237, 237);" (click)="openEvent()">
        <ion-col col-2><div text-left><img src="../assets/imgs/and/icon_m_event.png"  width="28px;"/></div></ion-col>
        <ion-col col-9><div text-left style="font-size: 16px; color:#686868;">이벤트</div></ion-col>
        <ion-col col-1><div text-right><img src="../assets/imgs/and/icon_arrow_front.png"  width="17px;"/></div></ion-col>
      </ion-row>
      <ion-row menuClose justify-content-center style="padding:17px 6px 5px 2px; border-bottom:solid 1px rgb(238, 237, 237);" (click)="openQa()">
        <ion-col col-2><div text-left><img src="../assets/imgs/and/icon_m_cutomer.png"  width="28px;"/></div></ion-col>
        <ion-col col-9><div text-left style="font-size: 16px; color:#686868;">고객센터</div></ion-col>
        <ion-col col-1><div text-right><img src="../assets/imgs/and/icon_arrow_front.png"  width="17px;"/></div></ion-col>
      </ion-row>
      <ion-row menuClose justify-content-center style="padding:17px 6px 5px 2px; border-bottom:solid 1px rgb(238, 237, 237);" (click)="openInformation()">
        <ion-col col-2><div text-left><img src="../assets/imgs/and/icon_m_info.png"  width="28px;"/></div></ion-col>
        <ion-col col-9><div text-left style="font-size: 16px; color:#686868;">O² 정보</div></ion-col>
        <ion-col col-1><div text-right><img src="../assets/imgs/and/icon_arrow_front.png"  width="17px;"/></div></ion-col>
      </ion-row>
      <ion-row menuClose justify-content-center style="padding:17px 6px 5px 2px; border-bottom:solid 1px rgb(238, 237, 237);" (click)="openConfig()">
        <ion-col col-2><div text-left><img src="../assets/imgs/and/icon_m_set.png"  width="28px;"/></div></ion-col>
        <ion-col col-9><div text-left style="font-size: 16px; color:#686868;">설정</div></ion-col>
        <ion-col col-1><div text-right><img src="../assets/imgs/and/icon_arrow_front.png"  width="17px;"/></div></ion-col>
      </ion-row>

    </ion-grid>
    <!-- <button menuClose ion-item (click)="openBarcodeModal()">barcode</button>
      <button menuClose ion-item (click)="openMyZone('Z')">myZone</button>
      <button menuClose ion-item (click)="openMyZoneList()">myZoneList</button> -->
    
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>