page-temp-pw-reset {
    div {padding-top: 8px; color: #999999;}
    //ion-title { text-align: center; }
    .top-description { text-align: center; padding-top: 20px; padding-bottom: 20px; font-size: 17px;}
    .bold-description { text-align: center; padding-top: 20px; padding-bottom: 20px; font-size: 24px;}
    .exception-alert {padding-left: 20px; padding-bottom: 15px; font-size: 12px; color:red; height: 15px;}
    .confirm-button { padding-top:20px; }
    .confirm-button button { height: 49px; font-size: 17px; }
    
}
