page-safe-password-reg {

    div {padding-top: 8px; color: #999999;}
    //ion-title { text-align: center; }
    .top-description { text-align: center; padding-top: 20px; padding-bottom: 20px; font-size: 17px;}
    .ion-col-button { margin: 10px; }
    .button { height: 49px; font-size: 17px; padding: 10px; }
    .exception-alert {padding-left: 2px; padding-top:5px; font-size: 12px; color:red; height: 20px;}

    ion-footer div {padding: 0px 10px 10px 10px; }
    ion-footer div > div:first-child {float: left; padding-top:1px; margin-bottom: 20px;}
    ion-footer div > div:last-child {font-size: 12px;}

}
