<!--
  Generated template for the ServiceOutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="primary">
    <ion-grid no-padding>
      <ion-row align-items-center>
        <ion-col>
          <div text-center><ion-title>안심 비밀번호 설정</ion-title></div>
        </ion-col>
        <ion-col>
          <div text-end style="padding-right:10px"><img src="/assets/imgs/and/btn_home_n.png" width="35px;" /></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="top-description">
    <div>안심 비밀번호 설정</div>
  </div>
  <ion-item>
    <ion-label>안심 비밀번호 설정</ion-label>
    <ion-toggle [(ngModel)]="isSafe" (ionChange)="toggleClick()"></ion-toggle>
  </ion-item>
  <form [formGroup]=formGroup>
    <ion-grid no-padding no-border class="input-text-grid">
      <div formGroupName="password">
      <ion-row>
        <ion-col>
          <ion-item>
              <ion-input formControlName="pw" type="password" maxlength="4" placeholder="비밀번호 (숫자 4자리)" clearInput (ionChange)="changeInput()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
              <ion-input formControlName="pwConfirm" type="password" maxlength="4" placeholder="비밀번호 확인 (숫자 4자리)" clearInput (ionChange)="changeInput()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      </div>
    </ion-grid>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col>
          <div class="exception-alert">
              {{exceptionAlert}}
              <span *ngIf="(isSafe && (formGroup.get('password').get('pw').hasError('required') || formGroup.get('password').get('pwConfirm').hasError('required'))) && (formGroup.get('password').get('pw').touched || formGroup.get('password').get('pwConfirm').touched)">
                패스워드를 확인해 주세요.
              </span>
              <span *ngIf="(isSafe && (formGroup.get('password').get('pw').hasError('pattern') || formGroup.get('password').get('pwConfirm').hasError('pattern'))) && (formGroup.get('password').get('pw').touched || formGroup.get('password').get('pwConfirm').touched)">
                패스워드는 숫자만 입력가능합니다.
              </span>
              <span *ngIf="isSafe && formGroup.get('password').hasError('nomatch') && formGroup.get('password').touched">
                비밀번호가 일치하지 않습니다.
              </span>
          </div>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="ion-col-button">
        <button ion-button block  color="primary" (click)="updateSafePw()"[disabled]="btnDisabled">확인</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--
  <ion-row><ion-input type="password" placeholder="비밀번호 (숫자 4자리)" [(ngModel)]="input_pw" [disabled]="!isSafe" (ionChange)="checkInput()" ></ion-input></ion-row>
  <ion-row><ion-input type="password" #input_confirm placeholder="비밀번호 확인 (숫자 4자리)" [(ngModel)]="input_pw_confirm" [disabled]="!isSafe" (ionChange)="checkInput()"></ion-input></ion-row>
  <ion-row><ion-label [hidden]="pwConfirm" style="color: red;">안심 비밀번호가 일치하지 않습니다.</ion-label></ion-row>
  <ion-row><button ion-button [disabled]="btnDisabled" [style.backgroundColor]="btnDisabled?'lightgray':'lightblue'" (click)="updateSafePw()">확인</button></ion-row>
  -->
</ion-content>
