page-change-id {
    .text-information { text-align: center; color:#555555; padding-top: 30px; padding-bottom: 30px; font-size:15px;}
    .exception-alert {padding-left: 20px; font-size: 12px; color:red; height: 15px;}
    .confirm-button { padding-top:20px; }
    .confirm-button button { height: 49px; font-size: 17px; }
}
